# Игнорируем виртуальное окружение
venv/
.venv/

# Игнорируем папки кеша Python
__pycache__/
**/__pycache__/

# Игнорируем файлы среды разработки
.idea/  # PyCharm
.vscode/  # VS Code

# Игнорируем переменные окружения и конфиденциальные данные
.env
*.env
*.pyc  # Компилированные файлы Python
*.pyo
*.log  # Логи
Thumbs.db  # Кешированные изображения Windows
desktop.ini  # Настройки папок Windows
