{% extends "base.html" %}

{% block title %}Пользователи{% endblock %}

{% block content %}
<h2>Список пользователей</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя пользователя</th>
            <th>Email</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{% if user.is_active %}Активен{% else %}Заблокирован{% endif %}</td>
            <td>
                    <p>{{ user.username }}<br>
                        {% if request.user.is_superuser %}  {# Только админ может удалять #}
                            {% if user != request.user %}  {# Нельзя удалить самого себя #}
                                <a href="{% url 'delete_user' user.id %}" class="btn btn-danger" onclick="return confirm('Удалить пользователя?');">Удалить</a>
                            {% endif %}
                        {% endif %}
                    </p>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
